/* ---- nav ----- */


nav {

display: flex;
justify-content: center;

}

nav img {

width: 30px;
height: 30px;

}

nav img:hover {

  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 3rem;
  
  }


nav a {

  padding: 0.9rem;

}
